.change_hand{
    text-align: left;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid black;
}
#Reg{
    display: none !important;
}

.name{
    margin-right: 10px !important;
    display: inline !important;
}

.LogOut{
    text-align: right;
    width: 50%;
    padding: 10px;
    border-bottom: 1px solid black;
    left: 100%;
}

.main{
    margin-top: 3% !important;
    width: 35% !important;
    position: relative !important;
    margin-left: 30% !important;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    align-content: center;
    text-align: center;
    max-width: 20% !important;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabs {
    border: 1px solid lightgray;
}

.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background: #f8f8f8;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

.tabs__link {
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: black;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
}

.tabs__link_active {
    background: lightgray;
    cursor: default;
}

.tabs__link:not(.tabs__link_active):hover,
.tabs__link:not(.tabs__link_active):focus {
    background-color: #efefef;
}

.tabs__content {
    padding: 1rem;
}

.tabs__pane {
    display: none;
}

.tabs__pane_show {
    display: block;
}